@use "../../scss/breakpoints";
@use "../../scss/colors";
@use "../../scss/spacing";

.sidenav {
  background-color: colors.$grey-950;
  color: colors.$grey-100;
  z-index: 101;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: inherit;
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$grey-600;
    border-radius: 5px;
    &:hover {
      background-color: colors.$grey-100;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: colors.$grey-950;
  }
  
  @include breakpoints.md {
    position: sticky;
    top: 0px;
    height: 100vh;
    width: auto;
  }

}

.show {
  display: inherit;
  width: 100vw;
  height: 100vh;
  @include breakpoints.md {
    width: 25vw;
  }
  @include breakpoints.xl {
    width: 18vw;
  }
}

.hide {
  display: none;
}

.content-btn {
  display: flex;
  align-items: center;
  gap: spacing.$s1;
}

.rotate180 {
  transform: rotate(0deg);
  transition-duration: 300ms;
}

.transition {
  transform: rotate(-90deg);
  transition-duration: 300ms;
}

.flex {
  display: flex;
}

.sub-menu {
  display: flex;
  flex-direction: column;

}

.sub-menu-item {
  padding: spacing.$s2;
  color: colors.$grey-100;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: spacing.$s1;
  svg {
    margin-left: spacing.$s5;
    width: spacing.$s5;
  }
  span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: colors.$grey-600;
  }
}

.path-sub-menu {
  background-color: colors.$grey-600;
}

.sub-menu-link {
  text-decoration: none;
}

.link-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: spacing.$s2;
  color: colors.$grey-100;
  text-decoration: none;
  gap: spacing.$s1;
  &:hover {
    background-color: colors.$grey-600;
    cursor: pointer;
  }
  svg {
    width: spacing.$s5;
  }
  .chevron svg {
    width: spacing.$s4;
  }
}

.path-link {
  background-color: colors.$grey-600;
}

.span-link {
  display: flex;
}
