@use "../../scss/colors";
@use "../../scss/fonts.scss";
@use "../../scss/spacing.scss";
@use "../../scss/breakpoints.scss";
@use "../../scss/mixins";

.container {
  border-radius: 15px;
  background-color: rgba(colors.$blue-600, 0.2);
  border: 1px solid colors.$blue-500;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: spacing.$s3;
  padding: spacing.$s3;
  width: 100%;
  @include breakpoints.md {
    padding: spacing.$s2;
  }
  li {
    svg {
      height: fonts.$xl3;
      @include breakpoints.md {
        height: fonts.$xl4;
      }
    }
  }
}

.large {
  // gap: spacing.$s3;
  padding: spacing.$s3 spacing.$s6;
  li {
    svg {
      // height: fonts.$xl3;
      @include breakpoints.md {
        height: 2.5rem;
      }
    }
  }
  @include breakpoints.md {
    gap: spacing.$s6;
  }
}

.liContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: spacing.$s1;
  span {
    color: colors.$white-100;
    font-style: italic;
    font-size: fonts.$base;
    @include mixins.drop-shadow-md-color(
      colors.$shadow-white-700,
      colors.$shadow-white-600
    );
    // @include breakpoints.md {
    //   font-size: fonts.$xl3;
    // }
  }
}
