$white: white;
$pink: #f92672;
$green: #a6e22e;
$blue: #66d9ef;
$orange: #fd971f;
$purple: #ae81ff;

$grey-200: #414339;
$grey: #272822;
$greyDark: #2c2c2c;
$greyLight: #3e3d32;
$greyBorder: #3f403c;
$greyMenu: #cccccc;
$greySide: #1e1f1c;