$white: white;
$pink-200: #da70d6;
$pink-500: #f92672;
$green: #a6e22e;
$blue-300: #66d9ef;
$blue-700: #3794ff;
$yellow-500: #ffd705;
$orange: #fd971f;
$purple-500: #ae81ff;
$accent: #e2c08d;


$grey-200: #414339;
$grey-500: #8e8f8c;
$grey: #272822;
$greyDark: #2c2c2c;
$greyLight: #3e3d32;
$greyBorder: #3f403c;
$greyMenu: #cccccc;

$greySide: #1e1f1c;
$grey-900: #1b1c18;
