$s0: 0rem;
$px: 1px;
$s05: 0.125rem;
$s1: 0.25rem;
$s2: 0.5rem;
$s3: 0.75rem;
$s4: 1rem;
$s5: 1.5rem;
$s6: 2rem;
$s7: 3rem;
$s8: 4rem;
$s9: 6rem;
$s10: 8rem;
$s11: 12rem;
$s12: 16rem;
$s13: 24rem;
$s14: 32rem;
$s15: 40rem;
$s16: 48rem;