@use "../../scss/colors.scss";
@use "../../scss/fonts.scss";
@use "../../scss/spacing.scss";

.container {
  list-style: none;
  li {
    a {
      color: colors.$navy-500;
      text-decoration: none;

      padding: spacing.$s1 0px;
      display: flex;
      align-items: center;
      gap: spacing.$s3;

      svg {
        color: colors.$navy-500;
        height: fonts.$xl3;
        g {
          fill: colors.$navy-500;
        }
        path {
          fill: colors.$navy-500;
        }
      }
    }
  }
}
