@use "../../scss/colors";
@use "../../scss/breakpoints";

.hamburger {
  // TODO fix hamburger
  display: none;
  color: colors.$grey-100;
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  display: flex;
  align-items: center;
  padding: 5px;

  @include breakpoints.md {
    padding: 0;
    height: 40px;
  }
}