@use "../scss/colors";
@use "../scss/mixins";
@use "../scss/fonts";
@use "../scss/spacing";
@use "../scss/breakpoints";
.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  @include breakpoints.lg {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 4rem;
  }

  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include breakpoints.lg {
      width: 30%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .quote {
    width: 500px;
    display: block;
    color: colors.$white-100;
    font-style: italic;
    text-align: center;
    margin-top: spacing.$s2;
    margin-bottom: spacing.$s3;
    font-size: fonts.$sm;
    @include mixins.drop-shadow-md-color(
      colors.$shadow-white-700,
      colors.$shadow-white-600
    );
  }
}
