@use "../../scss/colors";
@use "../../scss/mixins";
@use "../../scss/fonts";
@use "../../scss/spacing";
@use "../../scss/breakpoints";

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$s6;

  .PostButtons,
  .ProjectButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: spacing.$s3;
  }

  form {
    margin-top: spacing.$s4;
    width: 100%;
    @include breakpoints.md {
      margin-top: spacing.$s8;
    }
  }
}
