//white-

$white-100: #ffffff; //main
$white-200: #f5f5f5;
$white-300: #ececec;
$white-400: #e2e2e2;
$white-500: #d9d9d9;
$white-600: #cfcfcf;
$white-700: #c6c6c6;
$white-800: #bcbcbc;
$white-900: #b2b2b2;

//grey-
$grey-100: #cccccc;
$grey-200: #9b9b99;
$grey-500: #8e8f8c;
$grey-600: #414339;
$grey-625: #3e3d32;
$grey-650: #3f403c;
$grey-700: #2c2c2c;
$grey-800: #242522;
$grey-900: #272822;
$grey-950: #1e1f1c;
$grey-975: #1b1c18;

// Monokai
$green-100: #f2ffd4;
$green-200: #e0fda7;
$green-300: #cdfb7a;
$green-400: #baf94d;
$green-500: #a6e22e; //main
$green-600: #8cc41d;
$green-700: #72a30c;
$green-800: #587100;
$green-900: #3d4e00;

//pink-
$pink-100: #fbd9e4;
$pink-200: #faacc8;
$pink-300: #f98baf;
$pink-400: #f95091;
$pink-500: #f92672; //main
$pink-600: #f60b5b;
$pink-700: #f2064e;
$pink-800: #ee0342;
$pink-900: #eb002e;

//blue-
$blue-100: #b3e0f7;
$blue-200: #99d6f5;
$blue-300: #80ccf2;
$blue-400: #66c2f0;
$blue-500: #66d9ef; //main
$blue-600: #4dbfe9;
$navy-500: #33b5e7;
$blue-800: #1aa1e0;
$blue-900: #008cdb;

//accent
$accent-100: #f2e9d6;
$accent-200: #f0e5c6;
$accent-300: #eed1b1;
$accent-400: #ebbd9d;
$accent-500: #e2c08d; //main
$accent-600: #d4ad7d;
$accent-700: #c09c6d;
$accent-800: #ad8b5d;
$accent-900: #99794d;

// yellow-
$yellow-100: #fff8b3;
$yellow-200: #fff192;
$yellow-300: #ffeb70;
$yellow-400: #ffe64f;
$yellow-500: #ffd705; //main
$yellow-600: #e0c504;
$yellow-700: #c2aa03;
$yellow-800: #a48f02;
$yellow-900: #877501;

//orange-
$orange-100: #ffd8aa;
$orange-200: #ffcb8f;
$orange-300: #ffbd74;
$orange-400: #ffaf59;
$orange-500: #fd971f; // main
$orange-600: #e4841b;
$orange-700: #cc7317;
$orange-800: #b46213;
$orange-900: #9a510f;

//purple-
$purple-100: #f3ebff;
$purple-200: #d7ccff;
$purple-300: #bbaeff;
$purple-400: #9e8fff;
$purple-500: #ae81ff; //main
$purple-600: #9664ff;
$purple-700: #7e46ff;
$purple-800: #6629ff;
$purple-900: #4d0bff;

//navy-
$navy-100: #c2e0ff;
$navy-200: #a0cbff;
$navy-300: #7eb5ff;
$navy-400: #5ca0ff;
$navy-500: #3794ff; //main home links
$navy-600: #1478ff;
$navy-700: #005dff;
$navy-800: #0043c2;
$navy-900: #002a87;

//shadow

$shadow-black-600: rgb(0 0 0 / 0.06);
$shadow-black-700: rgb(0 0 0 / 0.07);

$shadow-white-600: rgb(255 255 255 / 0.06);
$shadow-white-700: rgb(255 255 255 / 0.07);

$shadow-orange-600: rgb(253 151 31 / 0.06);
$shadow-orange-700: rgb(253 151 31 / 0.07);


$shadow-blue-600: rgb(102 217 239 / 0.06);
$shadow-blue-700: rgb(102 217 239 / 0.07);

$shadow-pink-600: rgb(249 38 114 / 0.06);
$shadow-pink-700: rgb(249 38 114 / 0.07);

