@use "./colors";
@use "./mixins";
@use "./fonts";
@use "./spacing";
@use "./breakpoints";

@mixin author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: spacing.$s4;
  color: colors.$white-100;
  background-color: colors.$grey-900;
  padding: spacing.$s6 spacing.$s2;
  border-radius: 15px;

  @include breakpoints.cq-xl {
    flex-direction: row;
    gap: 0;
    margin-bottom: spacing.$s8;
    padding: spacing.$s8;
  }
}

@mixin author-name {
  display: flex;
  flex-direction: column;
  gap: spacing.$s1;
  color: colors.$white-100;
  text-decoration: none;
  transition: color 0.15s;

  span {
    @include mixins.drop-shadow-md-color(
      colors.$shadow-white-700,
      colors.$shadow-white-600
    );

    &:first-child {
      font-size: fonts.$xl3;
      color: colors.$grey-100;
      margin-bottom: spacing.$s3;
      letter-spacing: 0.02em;

      @include breakpoints.cq-md {
        font-size: fonts.$xl4;
      }
    }

    &:not(:first-child) {
      position: relative;
      padding-left: spacing.$s4;
      font-size: fonts.$xs;
      color: colors.$grey-200;
      font-style: italic;
      line-height: 1.6;

      &::before {
        content: ">";
        position: absolute;
        left: 0;
        top: 0;
        color: colors.$green-500;
        font-style: normal;
        font-weight: 600;
      }

      @include breakpoints.cq-md {
        font-size: fonts.$sm;
      }
    }
  }

  &:hover {
    span:first-child {
      color: colors.$blue-500;
    }
  }
}

@mixin author-links {
  display: flex;
  flex-direction: column;
  gap: spacing.$s3;
}

@mixin section-content {
  margin: spacing.$s6 0px;
  display: flex;
  flex-direction: column;
  gap: spacing.$s2;
}

@mixin list-container {
  list-style: square;
  padding-left: spacing.$s6;
}

@mixin links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing.$s3;
}

@mixin section-hr {
  width: 80%;
  border: none;
  border-top: 3px double colors.$grey-600;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: spacing.$s6 auto;
}
