@use "../scss/colors.scss";
@use "../scss/spacing.scss";
@use "../scss/breakpoints.scss";

.container {
  margin-top: spacing.$s3;
  display: grid;
  gap: spacing.$s7;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 90%;

  @include breakpoints.md {
    width: 90%;
    gap: spacing.$s7;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    // margin-top: spacing.$s3;
  }
}
