@use "../../../scss/colors";
@use "../../../scss/fonts.scss";
@use "../../../scss/spacing.scss";
@use "../../../scss/breakpoints.scss";
@use "../../../scss/mixins.scss";

.FieldSet {
  display: flex;
  flex-direction: column;
  padding: spacing.$s5;
}

.even {
  background-color: colors.$grey-600;
}

.odd {
  background-color: colors.$grey-975;
}
