@use "./scss/colors";
@use "./scss/spacing";

.layout {
  min-height: 100vh;
  display: flex;

  // overflow: hidden;
}

.container {
  min-height: 100%;
  background-color: colors.$grey-900;
  width: 100%;
  color: colors.$grey-100;
  overflow: hidden;
  margin-top: spacing.$s6;
}

.content {
  height: 80%;
  padding: spacing.$s6;
  // overflow: hidden;
}
