@use './scss/colors';
@use './scss/mixins';
@use './scss/fonts';
@use './scss/spacing';



// @include mixins.mobile() {
// .title {
//   color: colors.$blue;
// }
// }

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: fonts.$xl7;
    color: colors.$grey-900;
  }
  h3 {
    margin-bottom: spacing.$s4;
  }
  ul {
    text-align: center;
    list-style: none;
  }
}