@use "./scss/colors";
@use "./scss/mixins";
@use "./scss/fonts";
@use "./scss/spacing";

// @include mixins.mobile() {
// .title {
//   color: colors.$blue;
// }
// }

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: fonts.$xl6;
    color: colors.$greyMenu;
    font-weight: 400;
  }
  h3 {
    margin-bottom: spacing.$s5;
    color: colors.$greySubMenu;
    font-size: fonts.$xl2;
  }

  h4 {
    font-size: fonts.$xl2;
    color: colors.$white;
    margin-bottom: spacing.$s2;
  }
  ul.mainLinks {
    list-style: none;
    color: colors.$grey-500;
    li {
      padding: spacing.$s1 0px;
      display: flex;
      align-items: flex-end;
      gap: spacing.$s3;
      svg {
        color: colors.$blue-700;
        height: fonts.$xl3;
        g {
          fill: colors.$blue-700;
        }
        path {
          fill: colors.$blue-700;
        }
      }

      a {
        color: colors.$blue-700;
        text-decoration: none;
      }
    }
    &:first-of-type {
      margin-bottom: spacing.$s7;
    }
  }
}

.socialLinks {
  ul {
    display: flex;
    flex-direction: column;
    gap: spacing.$s4;
    margin-bottom: spacing.$s7;
  }
}
