@use "../../scss/colors";
@use "../../scss/fonts.scss";
@use "../../scss/spacing.scss";
@use "../../scss/breakpoints.scss";
@use "../../scss/mixins";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  // gap: 1rem;
  // z-index: 10000;
  padding: spacing.$s3;
  border-radius: 15px;
  background-color: colors.$grey-600;

  transition-property: transform, background-color;
  transition-duration: 100ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    background-color: colors.$blue-500;
  }

  @include breakpoints.md {
    padding: spacing.$s3;
    // gap: spacing.$s6;
    // min-height: 55vh;
  }

  img {
    height: 100%;
    width: 100%;
    // border-radius: 50px 0 0 50px;
    // width: 60%;
  }

  .text-container {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    background-color: rgba(colors.$grey-950, 0.9);
    // backdrop-filter: blur(10px);
    padding: spacing.$s2;
    // color: colors.$grey-600;
    align-items: center;
    // backdrop-filter: blur(3px);
    @include breakpoints.md {
      padding: spacing.$s4;
    }

    .date-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: colors.$grey-600;
      font-size: fonts.$xs;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
    }
    h2 {
      margin: spacing.$s2 0;
      font-size: fonts.$xl;
      color: colors.$orange-500;
      text-align: center;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-orange-700,
        colors.$shadow-orange-600
      );
      @include breakpoints.md {
        font-size: fonts.$xl4;
      }
    }
    h3 {
      font-size: fonts.$sm;
      text-align: center;
      color: colors.$purple-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }
  }

  .content-container {
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(colors.$grey-950, 0.9);
    // backdrop-filter: blur(10px);
    padding: spacing.$s4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: spacing.$s4;
    // text-align: center;

    // ul {
    //   padding: spacing.$s2;
    //   border-radius: 15px;
    //   background-color: rgba(colors.$blue-600, 0.2);
    //   border: 1px solid colors.$blue-500;
    //   list-style: none;
    //   display: flex;
    //   justify-content: center;
    //   flex-wrap: wrap;
    //   gap: spacing.$s3;
    //   width: 100%;
    //   li {
    //     svg {
    //       height: fonts.$xl3;
    //       @include breakpoints.md {
    //         height: fonts.$xl4;
    //       }
    //     }
    //   }
    // }
    @include breakpoints.md {
      font-size: fonts.$lg;
      padding: spacing.$s6;
    }

    h4 {
      font-size: fonts.$sm;

      color: colors.$white-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }

    p {
      font-size: fonts.$sm;
      text-align: center;
      hyphens: auto;
      color: colors.$white-300;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }
  }
}
