@use "../scss/colors";
@use "../scss/mixins";
@use "../scss/fonts";
@use "../scss/spacing";
@use "../scss/breakpoints";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include breakpoints.lg {
    width: 66%;
  }

  h2 {
    margin-bottom: spacing.$s6;
  }

}
