@use "./scss/colors";
@use "./scss/spacing";
@use "./scss/breakpoints";

.layoutWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebarDivider {
  width: 2px;
  cursor: col-resize;
  background-color: colors.$grey-700;
  flex-shrink: 0;
  position: relative;
  transition: background-color 0.15s;
  z-index: 102;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }

  &:hover {
    background-color: colors.$blue-500;
  }
}

.container {
  height: 100%;
  background-color: colors.$grey-900;
  width: 100%;
  color: colors.$grey-100;
  overflow: hidden;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.emptyState {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing.$s4;
  color: colors.$grey-600;
  font-size: 1rem;
  user-select: none;

  a {
    color: colors.$grey-200;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.15s;

    &:hover {
      color: colors.$accent-500;
    }
  }
}

.content {
  padding: spacing.$s2;
  display: flex;
  justify-content: center;
  container-type: inline-size;

  @include breakpoints.md {
    padding: 43px;
  }
}
