@use "../scss/colors";
@use "../scss/mixins";
@use "../scss/fonts";
@use "../scss/spacing";
@use "../scss/breakpoints";
.container {
  display: flex;
  flex-direction: column;
  // gap: spacing.$s3;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 85vh;
  @include breakpoints.lg {
    width: 66%;
  }

  h2 {
    margin-bottom: spacing.$s6;
  }
  .SkillSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: spacing.$s4;
    margin-bottom: spacing.$s5;
  }
}
