@use "../../scss/fonts.scss";
@use "../../scss/breakpoints.scss";
@use "../../scss/heading-colors";

.heading {
  font-size: fonts.$base;
  text-align: center;

  @include breakpoints.cq-md {
    font-size: fonts.$xl2;
  }
}

.purple {
  @include heading-colors.purple;
}

.orange {
  @include heading-colors.orange;
}

.blue {
  @include heading-colors.blue;
}
