@use "../scss/colors";
@use "../scss/fonts.scss";
@use "../scss/spacing.scss";

.card {
  padding: spacing.$s4;
  border: 1px solid colors.$white-100;
  display: flex;
  flex-direction: column;
  h3 {
    color: colors.$orange-500;
  }
}
