@use "../scss/breakpoints";
@use "../scss/colors";
@use "../scss/spacing";

// @include breakpoints.xs {
//   .title {
//     color: colors.$blue-500;
//   }
// }

// .title {
//   color: colors.$orange-500;
//   @include breakpoints.sm {
//     color: colors.$pink-500;
//   }
//   @include breakpoints.md {
//     color: colors.$blue-500;
//   }
//   @include breakpoints.lg {
//     color: colors.$pink-100;
//   }
//   @include breakpoints.xl {
//     color: colors.$green-500;
//   }
//   @include breakpoints.xl2 {
//     color: colors.$yellow-500;
//   }
// }

.sidenav {
  background-color: colors.$grey-950;
  color: colors.$grey-100;
  
  z-index: 101;
  position: fixed;
  top: 5px;
 
  // height: 100vh;
  // width: 100vw;
  
  @include breakpoints.md {
    position: sticky;
    top: 0px;

    height: 100vh;
    width: auto;
  }

  // .open {
  //   width: 100vw!important;
  //   height: 100vh;
  //   @include breakpoints.md {
  //     width: 30%;
  //   }
  // }
  // .close {
  //   width: auto;
  // }
}

.show {
  display: inherit;
  width: 100vw;
  height: 100vh;
  @include breakpoints.md {
    width: 25vw;
  }
  @include breakpoints.xl {
    width: 15vw;
  }
}

.hide {
  display: none;
}

// ______________

// .pathBtn {
//   background-color: colors.$grey-600;
// }

.contentBtn {
  display: flex;

  align-items: center;
  gap: spacing.$s1;
}

.rotate180 {
  transform: rotate(0deg);
  transition-duration: 300ms;
}

.transition {
  transform: rotate(-90deg);
  transition-duration: 300ms;
}

.flex {
  display: flex;
}

.subMenu {
  display: flex;
  flex-direction: column;
}

.subMenuItem {
  padding: spacing.$s2;
  color: colors.$grey-100;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: spacing.$s1;
  svg {
    margin-left: spacing.$s5;
    height: spacing.$s5;
  }

  &:hover {
    background-color: colors.$grey-600;
  }
}

.pathSubMenu {
  background-color: colors.$grey-600;
}

.subMenuLink {
  text-decoration: none;
}

.linkNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: spacing.$s2;
  color: colors.$grey-100;
  text-decoration: none;
  gap: spacing.$s1;
  &:hover {
    background-color: colors.$grey-600;
    cursor: pointer;
  }
  svg {
    height: spacing.$s5;
  }
  .chevron svg {
    height: spacing.$s4;
  }
}

.pathLink {
  background-color: colors.$grey-600;
}

.spanLink {
  // font-weight: 600;
  display: flex;
}
