@use '../scss/colors';

.sidenav {
  background-color: colors.$greySide;
  color: colors.$greyMenu;
  position: sticky;
  top: 0px;
  height: 100vh;

}

.open {
   width: 15%;
}
.close {
  width: auto;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}