@use "../scss/colors";
@use "../scss/spacing";

.sidenav {
  background-color: colors.$greySide;
  color: colors.$greyMenu;
  position: sticky;
  top: 0px;
  height: 100vh;
}
.liIcon {
  display: flex;
  padding: spacing.$s2;
  &:hover {
    background-color: colors.$grey-200;
  }
  a {
    color: colors.$greyMenu;
    text-decoration: none;
  }
}
.selected {
  background-color: red !important;
}

.subLi {
  img {
    margin-left: spacing.$s4;
  }
}

.subMenu {
  list-style: none;
}

.open {
  width: 15%;
}
.close {
  width: auto;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

// ______________



.pathBtn {
  background-color: colors.$grey-200;
}

.contentBtn {
  display: flex;

  align-items: center;
}


.rotate180 {
  transform: rotate(180deg);
  transition-duration: 500ms;
}

.transition {
  transition-duration: 300ms;
}

.flex {
  display: flex;
}

.subMenu {
  display: flex;
  flex-direction: column;
}

.subMenuItem {
  padding: spacing.$s4;
  img {
    margin-left: spacing.$s4;
  }

  &:hover {
    background-color: colors.$grey-200;
  }
}

.pathSubMenu {
  background-color: colors.$grey-200;
}

.linkNew {
  display: flex;
  flex-direction: row;
  // margin-left: 1rem;
  align-items: center;
  padding: spacing.$s4;
  &:hover {
    background-color: colors.$grey-200;
  }
}

.pathLink {
  background-color: colors.$grey-200;
}

.spanLink {
  font-weight: 600;
  display: flex;
}
