@use "../../scss/colors";
@use "../../scss/fonts.scss";
@use "../../scss/spacing.scss";
@use "../../scss/breakpoints.scss";
@use "../../scss/mixins";

.cardLink {
  text-decoration: none;
  display: block;
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: spacing.$s3;
  border-radius: 15px;
  background-color: colors.$grey-600;
  transition-property: transform, background-color;
  transition-duration: 100ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    background-color: colors.$orange-500;
  }

  @include breakpoints.cq-md {
    padding: spacing.$s3;
  }

  img {
    height: auto;
    width: 100%;
    max-height: 220px;
    object-fit: cover;
  }

  .placeholder {
    height: auto;
    width: auto;
    max-height: spacing.$s10;
    max-width: 35%;
    margin: spacing.$s3 0;
    object-fit: contain;
  }

  .text-container {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    background-color: rgba(colors.$grey-950, 0.9);
    padding: spacing.$s4 spacing.$s4;
    align-items: center;
    @include breakpoints.cq-md {
      padding: spacing.$s5 spacing.$s6;
    }

    .date-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: colors.$grey-600;
      font-size: fonts.$xs;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
    }

    h2 {
      margin: spacing.$s2 0 spacing.$s2;
      font-size: fonts.$lg;
      color: colors.$orange-500;
      text-align: center;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-orange-700,
        colors.$shadow-orange-600
      );
      @include breakpoints.cq-md {
        font-size: fonts.$xl2;
      }
    }

    h3 {
      font-size: fonts.$xs;
      text-align: center;
      color: colors.$purple-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.cq-md {
        font-size: fonts.$sm;
      }
    }
  }

  .content-container {
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(colors.$grey-950, 0.9);
    padding: spacing.$s4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: spacing.$s4;

    @include breakpoints.cq-md {
      padding: spacing.$s6;
      gap: spacing.$s5;
    }

    h4 {
      font-size: fonts.$sm;

      color: colors.$white-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
    }

    p {
      font-size: fonts.$xs;
      text-align: center;
      hyphens: auto;
      color: colors.$white-300;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.cq-md {
        font-size: fonts.$sm;
      }
    }
  }
}
