@use "../../scss/colors";
@use "../../scss/fonts.scss";
@use "../../scss/spacing.scss";
@use "../../scss/breakpoints.scss";
@use "../../scss/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$s3;
  border-radius: 15px;
  background-color: colors.$grey-600;
  transition-property: transform, background-color;
  transition-duration: 100ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    background-color: colors.$blue-500;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .text-container {
    position: absolute;
    top: spacing.$s5;
    border-radius: 10px;
    width: 90%;
    background-color: rgba(colors.$white-300, 0.75);
    padding: spacing.$s2;
    color: colors.$grey-600;
    align-items: center;
    backdrop-filter: blur(3px);
    @include breakpoints.md {
      padding: spacing.$s4;
    }

    .date-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: colors.$grey-600;
      font-size: fonts.$xs;

      @include mixins.drop-shadow-md-color(
        colors.$shadow-black-700,
        colors.$shadow-black-600
      );
    }

    h2 {
      margin: spacing.$s2 0;
      font-size: fonts.$xl2;
      color: colors.$grey-950;
      text-align: center;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-black-700,
        colors.$shadow-black-600
      );
    }

    h3 {
      font-size: fonts.$sm;
      text-align: center;
      color: colors.$grey-600;
      display: none;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-black-700,
        colors.$shadow-black-600
      );
      @include breakpoints.md {
        display: inherit;
        font-size: fonts.$base;
      }
    }
  }

  .content-container {
    position: absolute;
    bottom: spacing.$s5;
    border-radius: 10px;
    background-color: rgba(colors.$grey-950, 0.9);
    backdrop-filter: blur(10px);
    padding: spacing.$s4;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: spacing.$s4;

    @include breakpoints.md {
      font-size: fonts.$lg;
      padding: spacing.$s4;
    }

    p {
      font-size: fonts.$xs;
      text-align: justify;
      hyphens: auto;
      color: colors.$white-300;

      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }
  }
}
